@use './resets';
@use './mixins';

.hero {
    width: 100%;
    position: relative;

    &__imagen {
        width: 100%;
        display: inline-block;
        background-color: var(--morado);


        & img {
            height: 60vh;
            object-fit: cover;
            mix-blend-mode: multiply;
            filter: grayscale(100%);
        }
    }

    &__text {
        width: 100%;
        padding: 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include mixins.text(var(--font-display), 700, center, var(--beigePastel))
    }

    &__title {
        @include mixins.text(var(--font-xlarge), 700, center, var(--beigePastel));
        margin-top: 20px;
        text-transform: uppercase;
    }
}

.whatsapp {
    width: 12%;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    position: fixed;
    right: 0; bottom: 0;
    margin-right: 2%;
    margin-bottom: 2%;
    z-index: 100;
}