:root {
    /*Colors*/
    --oscuro: #2e2b2b;
    --rosaFuerte: #B34A64;
    --rosa: #DE90A0;
    --rosaPastel: #F1A5A6;
    --rosaLight: #FFB8CB;
    --light: #FFE6EC;
    

    /*Typography*/
    --base-font: 'Gotu', sans-serif;
    --alternative-font: '', sans-serif;

    /*Font-size*/
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.2em;
    --font-xxsmall: 1em;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: var(--base-font);
    font-size: 62.5%;
}

body{
    background-color: var(--rosa);
}

a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

/* header, footer {

} */

ul, ol {
    list-style-type: none;
}

img {
    width: 100%;
}